<h1>Show a particular user</h1>

<div class="user-details">
  <div class="user">
    <div class="userphoto">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo %>
      <% else %>
        <p>No image found</p>
      <% end %>
    </div>

    <div class="username">
      <h2><%= @user.name %></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

  <div class="bio">
    <h4>Bio</h4>
    <p><%= @user.bio %></p>
  </div>

  <% counter = 1 %>
  <% @user.recent_posts.each do |post| %>
    <%= link_to user_post_path(@user, post) do %>
      <%= render partial: 'post', locals: { post: post, counter: counter } %>
      <% counter += 1 %>
    <% end %>
  <% end %>

  <%= link_to "See all posts", user_posts_path(@user), class: 'button' %>

  <% if @user.id == current_user.id %>
    <%= button_to "Create post", new_user_post_path(@user), class: 'see-all-post d-flex border' %>
  <% end %>
</div>
