<div class="post">
  <h3>Post #<%= link_to post.id, user_post_path(@user, post) %></h3>
  <h4><%= post.title %></h4>
  <div class="post-summary">
    <%= post.text.truncate_words (22) %>
    <%= content_tag :span, "Comments: #{post.comments_counter} Likes: #{post.likes_counter}", class: "span" %>
  </div>
</div>


<h3><%= post.title %></h3>
<p><%= post.body %></p>


<div class="eachpost">
  <h4>Post #<%= counter %></h4>
  <p><%= raw post.text %></p>
  <h6>Comments:<%= post.comments_counter %> Likes:<%= post.likes_counter %></h6>
</div>
