<h1>List of all posts</h1>

<%= render partial: 'user_details', locals: { user: @user } %>

<% @user.posts.each_with_index do |post, index| %>
  <%= link_to user_post_path(@user, post) do %>
    <div class="post">
      <div>
        <h4>Post ##{index + 1}</h4>
        <h4>Title: <%= post.title %></h4>
        <%= post.text%>
        <h6>Comments:<%= post.comments_counter %>, Likes:<%= post.likes_counter %> </h6>
      </div>

      <div class="post-comments">
        <h4>Comments</h4>
        <% post.recent_comments.each do |comment| %>
          <p>
            <strong><%= comment.author.name %>:</strong>
            <span><%= comment.text %></span>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<%= will_paginate @user.posts %>
