<section class="specific">

  <h1>List of Posts for a Specific User</h1>

  <div class="specific-img-post">
    <div class="specific-img">
      <img src="<%= @user.photo %>" alt="user photo" class= "">
    </div>
    <div class=" border border-dark border-3 w-100 p-3">
      <h2 class="flex-grow-1 p-2"> <%= @user.name %></h2>
      <div class="d-flex justify-content-end">
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
  </div>

  <section class="specific-post-data">
  <% @user.recent_posts.each do |post| %>

    <div class="specific-post-container">
      <h3 class="specific-post-title"><%= link_to post.title, "/users/#{@user.id}/posts/#{post.id}" %></h3>
          <p class="specific-post-body"><%= post.text %></p>

          <div class="likes-comments-container">

            <div class="likes">
              Likes
            </div>

          <div class="comment">
            <% if post.comments.any? %>
              <% post.recent_comments.each do |comment| %>
                <div class="">
                    <span><%= comment.author.name %>:</span>
                    <span> <%= comment.text %></span>
                </div>
              <% end %>
            <% else %>
              <div class="">Comments: 0</div>
            <% end %>
          </div>

        </div>



    </div>

  <% end %>

  </section>

</section>
