<section class="new-post">
  <h2 class="new-post-title">New Post</h2>
  <% if @post.errors.any? %>
    <div class="error-message">
      <% @post.errors.full_messages.each do |message| %>
      <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="post-title-message">
    <%= form_with model: @post, url: user_posts_path(@user) do |form| %>
    <div class="post-title-message">
      <%= form.text_field :title, required: true, autofocus: true, class: "input-title", placeholder: "Enter your title" %>
    </div>

    <div class="post-title-message">
      <%= form.text_area :text, required: true, autofocus: true, class: "text-area", placeholder: "Enter your text here" %>
    </div>
    <%= form.submit "Submit Post", class: "new-post-btn" %>
  <% end %>
  </div>
</section>
