<section class="new-post">
  <h1 class="new-post-title">Create new post</h1>

<%= form_with model: @post do |form| %>

  <div class="create-post-form">
    <%= form.label :Title, class: "form-label" %>
    <%= form.text_field :title, placeholder: "post title", class: "form-control"  %>
  </div>
  <div class="create-post-form-textarea">
    <%= form.label :text, class: "form-label" %>
    <%= form.text_area :text, placeholder: "post text...", class: "form-control form-control-lg" %>
  </div>
  <div class="new-post-button">
    <%= form.submit "Create Post", class: "" %>
  </div>
<% end %>

</section>
