


<h1 class="post-comments-title">Single post of a User</h1>

<section>
  <div class="comments-container">
    <div class="">

    <div class="post-n-comment-n-like">
        <h2 class="comment-title">
          Post #<%= @post.id %> by <%= @user.name %>
        </h2>

        <div class="comment-like-counts">
          <span>comments: <%= @post.comments_counter %></span>
          <span> Likes: <%= @post.likes_counter %></span>
        </div>

    </div>

      <div class="comment-body">
        <p class="comment-text"> <%= @post.text %></p>
      </div>


    </div>

  </div>


  <div class="comment-section">
    <h3>Comments:</h3>
    <% @post.most_recent_comments.each do |comment| %>
      <div class="each-post-comments">
        <%= "#{comment.author.name}: #{comment.text}"%>
      </div>
    <% end %>
  </div>

  <div class="add-comments">
      <h3 class="add-comment-title">Add a Comment: </h3>
        <%= form_for [@post, Comment.new], url: "/comments/#{@post.id}" do |form| %>
          <div class="comment-form">
            <%= form.text_area :text, placeholder: "Add comment", class: "form-control"%>
          </div>
          <button class="add-comment-btn">
            <%= form.submit "Add Comment", class: "btn " %>
          </button>
        <% end %>
    </div>

</section>
